PORT=8787
HOST=127.0.0.1
API_TOKEN=change-me
SHOPEE_BROWSER_HEADLESS=true
SHOPEE_BROWSER_CHANNEL=chrome
SHOPEE_USER_DATA_DIR=.shopee-browser
SHOPEE_CUSTOM_LINK_URL=https://affiliate.shopee.vn/offer/custom_link
SHOPEE_HOME_URL=https://shopee.vn/
EXTENSION_JOB_TIMEOUT_MS=600000
SHOPEEAI_DATA_DIR=.shopeeai-data
PRODUCT_CACHE_TTL_MS=10800000
PRODUCT_STATIC_CACHE_TTL_MS=86400000
OFFER_CACHE_TTL_MS=3600000
AFFILIATE_CACHE_TTL_MS=1209600000
PROFILE_COOLDOWN_BASE_MS=30000

# To accept requests from other machines, set HOST=0.0.0.0 and use a strong API_TOKEN.
# Then point the extension API Base to http://<server-ip>:8787.
